---
title: Rocket SOL
description: An independent Solana validator with a small, dedicated 24/7 team partnering with world-class datacenters.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Rocket SOL</h1>
			<p class="subtext editable">
                          Stake with an independent Solana validator with a
                          small, dedicated 24/7 team partnering with
                          world-class datacenters.
                        </p>
			<div class="cta button alt"><a href="#">Stake Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Professional reliability</h2>
				<p class="editable">

                                  Experience unmatched reliability and uptime
                                  with our Solana validator.

                                  Our robust infrastructure ensures
                                  uninterrupted operation, empowering you to
                                  focus on what matters most – building the
                                  future of decentralized finance and web3.

                                </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">24/7 Monitoring</h2>
				<p class="editable">

                                  Our team of dedicated experts employs
                                  state-of-the-art monitoring systems that
                                  operate round the clock, 24/7. We utilize
                                  advanced tools and technologies to vigilantly
                                  observe the health and performance of our
                                  infrastructure, ensuring that any potential
                                  issues are swiftly identified and resolved
                                  before they escalate.

                                </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Performance</h2>
				<p class="editable">

                                  With a track record of professionalism and
                                  excellence, we deliver peace of mind along
                                  with unparalleled performance.

                                </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Stake with us</h2>
				<p class="subtext editable">Join the ranks of leading technologists and crypto enthusiasts who rely on our validator for staking.</p>
				<div class="cta button alt"><a href="#">Stake Now</a></div>
			</div>
		</div>
	</section>
</div>
